/* ==========================================
   REQUEST PAGE
========================================== */

.request-grid{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:20px;

}

.form-card-section{

    background:#FFFFFF;
    padding:25px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.05);

}

.section-title{

    margin-bottom:20px;
    font-size:18px;
    font-weight:600;
    color:var(--primary);

}

.full-width{

    width:100%;

}

.preview-card{

    margin-top:20px;

    background:
    linear-gradient(
        135deg,
        #0F172A,
        #1E40AF
    );

    color:white;

    padding:25px;

    border-radius:18px;

    text-align:center;

    box-shadow:
    0 10px 25px rgba(0,0,0,.15);

}

.preview-label{

    font-size:12px;
    opacity:.8;
    letter-spacing:1.5px;

}

.preview-number{

    margin-top:12px;

    font-size:28px;
    font-weight:700;

    color:#FFF200;

    word-break:break-word;

}

.action-area{

    margin-top:25px;
    text-align:right;

}

.generate-btn{

    min-width:280px;
    height:52px;

    font-size:15px;
    font-weight:700;

}

/* CARD REQUEST */

.form-card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);

}

/* INPUT IMPROVEMENT */

.form-group input,
.form-group select,
.form-group textarea{

    margin-top:5px;

    transition:.3s;

}

.form-group input:hover,
.form-group select:hover,
.form-group textarea:hover{

    border-color:#1E40AF;

}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{

    border-color:#1E40AF;

    box-shadow:
    0 0 0 4px rgba(30,64,175,.12);

}

/* RESPONSIVE */

@media(max-width:768px){

    .request-grid{

        grid-template-columns:1fr;

    }

    .generate-btn{

        width:100%;
        min-width:100%;

    }

    .preview-number{

        font-size:22px;

    }

}
